.git
.gitignore
.idea
.vscode
.dart_tool
build
coverage
android/.gradle
android/app/debug
android/app/profile
android/app/release
ios/Pods
**/*.iml
.env
env/dev.json
env/staging.json
env/prod.json
env/docker.dev.json
README.md
README_PHASE_A.md
